.image{
                 position: center;
                 width: 100%; 
                 height: 600px; 
                 padding-top: 75.0000%;
                 padding-bottom: 48px;
                 box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
                 margin-top: 1.6em; margin-bottom: 0.9em; 
                 overflow: hidden;
                 border-radius: 8px;
                will-change: transform;
                align-items: center;
}

.iframestyle{
                position: absolute; 
                 width: 100%;
                 height: 100%; 
                 top: 0; 
                 left: 0; 
                 border: none; 
                 padding: 0;
                 margin: 0;
}